*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.navbar a:hover {
    background: #b45454;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 70vh !important;
    background: url(istockphoto-1303686899-612x612.jpg);
    background-size: cover;
}
 
.title {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #ffffff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 15px 40px;
    border: 2px solid #b45454;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #b45454;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    height: 70vh;
    padding: 50px;
    background: #3c3838
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #000000;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #b45454;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #b45454;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #0c0909;
}

.price {
    background: url(fot\ 1.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    height: 70vh;
    padding-top: 20px;
    background: #3c3838;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}